* {
    font-family: 'Poppins', sans-serif;
}

.create-account-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 475px;
}

.create-account-container h2 {
    font-size: 28px;
    color: #1a73e8;
    font-weight: 600;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Input styling */
.form-group input,
.form-group select {
    width: 100%;
    padding: 16px 12px; /* Adjusted padding */
    border: 1px solid #dadce0;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures width includes padding and border */
    transition: all 0.3s ease;
}

/* Floating label styling as placeholder */
.floating-label {
    position: absolute;
    left: 16px;
    top: 18px;
    color: #5f6368;
    font-size: 16px;
    transition: 0.3s ease all;
    pointer-events: none;
    background-color: #ffffff;
    padding: 0 4px;
}

/* Animation to move label on focus */
.form-group input:focus + .floating-label,
.form-group input:not(:placeholder-shown) + .floating-label,
.form-group textarea:focus + .floating-label,
.form-group textarea:not(:placeholder-shown) + .floating-label,
.form-group select:focus + .floating-label,
.form-group select.selected + .floating-label {
    top: -10px; /* Move label up */
    left: 12px; /* Adjust left position */
    font-size: 12px; /* Reduce font size */
    color: #1a73e8; /* Change label color on focus */
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #1a73e8;
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.2);
}

/* Submit button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #1557b0;
}

@media (max-width: 768px) {
    .firsthalf {
        display: none;
    }
    
    .secondhalf {
        width: 100%;
        justify-content: center;
    }

    .employee-form {
        padding-right: 0px;
    }
}